@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Sddress:</strong><br />
    Miodowa<br />
    Kopytkowo, 00-000<br />
    </address>
<address>
    <p><strong>Tel.: </strong><span type="tel">123-456-789</span></p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@rentahousband.com</a><br />
</address>