@using RentAHousband.Helpers
@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="text-center">
    <p>
@Html.HelpMe("heeelp", "Images/furia.png", "Masz po kokarde proszenia o to samo?", null)
        </p>
</div>
<div class="jumbotron">
    <p class="lead">Masz dosc proszenia o naprawe cieknacego kranu? Zawiasy w szafce trzymaja sie tylko na "slowo honoru"?</p>
    <p class="lead center-block">Nareszcie masz idealna okazje, by to zmienic! Wypozyczony maz zrobi to wszystko DLA CIEBIE!</p>
    <h1 class="text-center">Rent a PERFECT Housband!</h1>
    <p class="text-center"><a href="Housbands/Show" class="btn btn-primary btn-lg">Sprawdz to! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hydraulik?</h2>

        <p><a href="Housbands/Show"><img src="~/Images/hydra.jpg" /></a></p>
    </div>
    <div class="col-md-4">
        <h2>Malarz?</h2>

        <p><a href="Housbands/Show"><img src="~/Images/mala.png" /></a></p>
    </div>
    <div class="col-md-4">
        <h2>Elektryk?</h2>

        <p><a href="Housbands/Show"><img src="~/Images/elektryk.jpg" /></a></p>
    </div>
</div>